# Ignore common build artifacts
*.o
*.a
*.so

# Ignore build and dependency directories
bin/
pkg/
vendor/

# Ignore editor-specific files and directories
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignore testing and documentation files
_test.go
doc/
