[mysqld]
user=mysql
datadir=/var/lib/mysql
port=3306
bind-address=0.0.0.0
innodb_buffer_pool_size = 256M
ssl-cipher=DHE-RSA-AES256-GCM-SHA384,AES256-GCM-SHA384,DHE-RSA-AES128-GCM-SHA256,AES128-GCM-SHA256